[MASTER]
ignore=experiments

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    import-error,
    multiple-statements,
    too-many-arguments,
    too-many-positional-arguments

enable=
    logging-format-interpolation,
    consider-using-f-string

[FORMAT]
max-line-length=128

[DESIGN]
max-args=5
max-attributes=7
